<!DOCTYPE html>
<html>
<head>
    <title>GracoSoft</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Lista de Materias</a></li>
            <li><a href="{{ url_for('agregar_materia') }}">Agregar Materia</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>