<!-- reporte.html -->
{% extends 'layout.html' %}

{% block content %}
    <h2>Reporte</h2>
    <div class="container">
        <h3>Reporte de Laboratorio</h3>
        <p>Cantidad de exámenes registrados en cada categoría:</p>
        <ul>
            {% for categoria, cantidad in categories_count.items() %}
                <li>{{ categoria }}: {{ cantidad }}</li>
            {% endfor %}
        </ul>
        <p>Indicación de examen más común: {{ common_indication }}</p>
        <p>Lista de exámenes agrupados por precio:</p>
        <ul>
            <li>1 - 100 Bs: {{ price_intervals[0] }}</li>
            <li>101 - 200 Bs: {{ price_intervals[1] }}</li>
            <li>201 - 300 Bs: {{ price_intervals[2] }}</li>
            <li>301 - 500 Bs: {{ price_intervals[3] }}</li>
            <li>501+ Bs: {{ price_intervals[4] }}</li>
        </ul>
    </div>
{% endblock %}
