{% extends 'layout.html' %}

{% block content %}
    <h2>Lista de Exámenes</h2>
    <p><a href="{{ url_for('crear_examen') }}">Crear Nuevo Examen</a></p>
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Categoría</th>
                <th>Tipo de Muestra</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for examen in examenes %}
                <tr>
                    <td>{{ examen.codigo }}</td>
                    <td>{{ examen.categoria }}</td>
                    <td>{{ examen.tipo_muestra }}</td>
                    <td>{{ examen.precio }}</td>
                    <td>
                        <a href="{{ url_for('ver_examen', examen_id=examen['_id']) }}">Ver</a>
                        <a href="{{ url_for('editar_examen', examen_id=examen['_id']) }}">Editar</a>
                        <form action="{{ url_for('eliminar_examen', examen_id=examen['_id']) }}" method="post" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este examen?');">
                            <button type="submit">Eliminar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
